/*** FONTS ***/
/*Fonts*/ 






/*** RESET ***/
*{box-sizing:border-box;}
ul {list-style: none;padding: 0;}
img{width:100%;}
figure{margin:0;}
p{margin-top: 0!important;}

/*Helper*/
.left {float: left;}
.right {float: right;}
.text-right{text-align: right;}
.clearfix:after{content:'.';clear:both;display:block;height:0;visibility:hidden;}

/* Start css */
body{
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}


a, .logo, .main-menu a, .bio  {
    text-decoration:none;
    color:inherit;
    margin:0;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: bold;
    text-align: center;
}

.bio{
    text-align: left!important;
}

.logo, .main-menu a {
    color:#fff;
    text-transform: uppercase;
    font-size: 12px!important;
}

.main-menu a{
    padding-left: 32px;
}

a:hover {color: #d59010;}

h1 {
    font-family: 'IBM Plex Serif', serif!important;
    font-style: normal;
    font-weight: bold;
    font-size: 160px;
    line-height: 115px;
    letter-spacing: -0.02em;
    color: #F2F2F2;
    margin-top: 32px;
    margin-bottom: 32px;
}

h2{
    font-family: 'IBM Plex Serif', serif!important;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 80px;
    color: #F2F2F2;
}

/*** GRID ***/
.container{max-width:1100px;margin:0 auto;position:relative;padding:0 2%;}
.row{margin:0;}
.row:after{content:'.';clear:both;display:block;height:0;visibility:hidden;}
.col{position:relative;padding:0 1%;min-height:1px;}
.col1{width:8.333%;}
.col2{width:16.667%;}
.col3{width:25%;}
.col4{width:33.333%;}
.col5{width:41.667%;}
.col6{width:50%;}
.col7{width:58.33%;}
.col8{width:66.667%;}
.col9{width:75%;}
.col10{width:83.333%;}
.col11{width:91.667%;}
.col12{width:100%;}


/*** MAIN NAV ***/
.main-header {position:absolute;width:100%;top:0;left:0;z-index:99;padding:1em 0;transition:0.3s;}
.main-header nav, .mobile-menu {text-align: right;}
.mobile-menu {display: none;}
.main-header .col {padding: 0;}
.main-header a {font-size: 1em;}
.menu-overlay {position: fixed;top: 0;width: 100%;height: 100%;background: rgba(0,0,0,0.9);z-index: 199;display: none;}
.menu-overlay i {position: fixed;right: 30px;top: 15px;z-index: 110;color: white;cursor: pointer;}
.menu-overlay ul {list-style: none;margin: 0;position: fixed;color: #fff;left: 50%;top: 50%;transform: translate(-50%,-50%);text-align: center;}
.menu-overlay li a{margin-left: 0;}
.white {color: #fff;}
.mobile-menu i {cursor: pointer;}
.menu-overlay nav a {margin: 1em 0;padding: 0;font-size: 2em;}


/*** HOME  ***/
.hero-header, .hero-header .container {height: 80vh;width: 100%;}
.hero-header header,#home-header header {width: 100%;position: relative;top: 50%;transform: translateY(-50%);z-index: 2;}
.bold{font-weight: bold;}
.linha-fina{font-size: 14px!important;padding-top:80px;}

#home-header::after {
    content: '.';
    color: white;
    font-size: 0;
    width: 100%;
    height: 80vh;
    background: rgba(5, 1, 23, 0.9);
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}

/*Personagens*/ 
.personagens p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}
.bio{
    margin-top: 8px;
    margin-bottom: 32px;
    display: block;
    text-transform: uppercase;
    font-size: 16px;
}

.personagens {
    background: #fff;
}

.personagens p, 
.personagens h2, 
.personagens span{
    color: #333;
}

.personagens .row {
    border-bottom: 1px solid #333;
    padding: 125px 0!important;
}
.no-divisor{
    border-bottom: 0!important;
}

/* tom e estilo inovacao e universo */
.tom-e-estilo .row,
.inovacao .row,
.universo .row {
    background: #fff;
    border-bottom: 1px solid #333;
    padding: 125px 0!important;

}
.sec-frase:not(.arco-da-temporada){
    background: #fff!important;
    color: #333!important;
}
.sec-frase:not(.arco-da-temporada) p,
.sec-frase:not(.arco-da-temporada) h2
{
    color: #333!important;
}

.sinopse {
    padding: 250px 0;
}


/* Arco da temporada */
.arco-da-temporada,.segunda-temporada{
    padding:125px 0;
}
.number{
    font-family: 'IBM Plex Serif', serif;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    text-align: right;
    margin-right: 20px;
}
}

.piloto{
    border: 1px solid #fff;
    padding: 20px 20px;
}

.dp-piloto{
    margin: 30px 0;
    border: 1px solid transparent;
    /* padding: 0 20px 20px; */
}

.numb{
    font-size: 56px;
    margin: 15px 0;
}
.pilot{
    font-size: 14px;
    text-transform: uppercase;
}

/* referencias */
.referencias{
    background: #fff;
    padding-top: 0;
    padding-bottom: 125px;
}
.img-middle{
    margin: 15px 0;
}

/***********

            FOOTER

***********/



/* Top Footer*/ 
.top-footer {background: #131212;color: #f9f0de;text-align: center;padding: 2em 0;}
.top-footer h3 {border-bottom: 2px solid orange;padding: .5em;}
.facebook {background: #3b5998;}
.twitter {background: #00aced;}
.social-icons h4 {color: orange;font-size: 1.5em;margin-bottom: .5em;}
.social-icons i {margin-left: 1em;}

/* Copy Right Footer*/
#main-footer {background: #333;z-index: 99;padding: 1.5em 0;text-align: center;font-size: 16px;}
#main-footer p{color: #fff;line-height: 12px;}
#main-footer img {width: 160px;margin-bottom: 50px;
}

















/***********

            COMMON INTERNAL PAGES

***********/

/*left nav*/
section.nav-posts {z-index: 99;color: white;position: fixed;bottom: 50%;right: 0;transform: rotate(90deg);display: none;}
section.nav-posts a {padding-left: 16px;}


/*HEADER COMMON*/
.hero-header {position: fixed;width:100%;height: 100vh;top: 0;left: 0;z-index:0;color: white;transition: .5s;}
.hero-header .container {height: 100vh;}
.hero-overlay {color: #fff;display: none;height: 100vh;width: 100%;background:rgb(0 0 0 / 60%);}
.overlay {color: #fff;}
#botequim-header.hero-header::after {content: '';position: absolute;background: rgb(43 40 40 / 64%);z-index: -1;width: 100%;height: 100vh;top: 0;left: 0;}

/*Lateral nav*/
.lateral {
    font-family: meno-display,serif;
    font-weight: 400;
    font-style: italic;
    display:inline;
    color: #f9f0de;
    padding-bottom: 2px;
    border-bottom: 5px solid #d59010;
}


/****

    HEADER INTERNAL PAGES

*****/

.playground1 {background-size:1000px;
    /* background-color: #00A7A3; */
    background-image: url("http://cotidiano.adentro.co/imgs/capa.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index:-1;
}
    
/*Inner Post Sections*/
.post-section { margin-top: 1000px; }
.post-section .col8,
.post-section .m-col10,
.post-section .col.col4.m-co4.s-col12 { margin: 0 auto;}
.post-section .row {padding: 1em;}

/*CLICK TO PLAYGROUND BIG TITLE*/ 
section.next {
    padding: 25% 0px;
    text-align: center;
    color: white;
    font-size: 5em;
    font-family: 'baron_neueregular',sans-serif;
}



/***********

            RESPONSIVE GRID & DETAILS

***********/


/*** Tablet Portrait ***/
@media only screen and (max-width:768px){
	.m-col1{width:8.333%;}
	.m-col2{width:16.667%;}
	.m-col3{width:25%;}
	.m-col4{width:33.333%;}
	.m-col5{width:41.667%;}
	.m-col6{width:50%;}
	.m-col7{width:58.33%;}
	.m-col8{width:66.667%;}
	.m-col9{width:75%;}
	.m-col10{width:83.333%;}
	.m-col11{width:91.667%;}
	.m-col12{width:100%;}

	.main-menu {display:none;}
	.mobile-menu {display:block;}
    .mobile-menu i {color: #fff;}

	section.nav-posts {
    z-index: 99;
    text-align: center;
    color: white;
    position: relative;
    transform: none;
	}


}

/*** Mobile ***/
@media only screen and (max-width:480px){

	body{font-size:16px;}
	.footer-text {font: 12px;}
	.s-col1{width:8.333%;}
	.s-col2{width:16.667%;}
	.s-col3{width:25%;}
	.s-col4{width:33.333%;}
	.s-col5{width:41.667%;}
	.s-col6{width:50%;}
	.s-col7{width:58.33%;}
	.s-col8{width:66.667%;}
	.s-col9{width:75%;}
	.s-col10{width:83.333%;}
	.s-col11{width:91.667%;}
	.s-col12{width:100%;}

	.col{padding:1%;}
	.headline{margin-bottom:2em;}
	.home-section{padding:1em;}
	.intro h2{font-size:2.5em;}
	.site-footer{text-align:center;}
	.social-links{text-align:center;}
	.social-links a{margin:0 0.5em;}

    h2 {
        font-size: 52px;
    }

    #home-header h1, .hero-header h1 {
        font-size: 60px;
    }

    .number {
        text-align: left;
    }    
}








